.wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;

   .tabsBox {
      margin-left: 16px;
      border-bottom: 1px solid rgb(255 255 255 / 15%);
   }

   .pageBox {
      height: 100%;
      margin-top: 12px;
   }

   .item {
      color: white;
   }
}

@media (width <= 480px) {
   .wrapper {
      .tabsBox {
         margin: 0;
      }

      .pageBox {
         margin: 0;
      }
   }
}
